body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    padding-top: 45px; 
}
  
.body a {
  color:#ffffff;
}

.body a:hover {
  color:#f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.content-section {
  background: #000000;
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative; /* Needed for the pseudo-element overlay */
  overflow: hidden; /* Ensures the overlay stays within the boundaries */
  transition: all 0.3s ease;
  cursor:pointer;
}

.content-section a{
  color:white;
  text-decoration: none;
}

.content-section form-group{
  color:white;
  text-decoration: none;
}

.content-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(174, 172, 172, 0.15); /* Subtle grey */
  opacity: 0;
  z-index: 1; /* Places the overlay on top of the background but under content */
}

.content-section:hover::before {
  opacity: 1; /* Shows the grey overlay on hover */
}

.content-section > * {
  position: relative;
  z-index: 2; /* Ensures other content stays above the overlay */
}

.content-section a:hover {
  color: #428bca;
  text-decoration: none;
}

.article-title {
  color: #ffffff;
  text-decoration: none;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  text-decoration: none;
  color:white;
}

.article-content p:hover {
  color: #428bca;
  text-decoration: none;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-img:hover {
  filter: hue-rotate(200deg) saturate(1.2);
}

.nav-img {
  height: 30px;
  width: 30px;
}

.article-metadata {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-bottom: 1px;
  margin-bottom: 4px;
  /*border-bottom: 1px solid #e3e3e3*/
  
}

.article-metadata a:hover {
  color: #428bca;
  text-decoration: none;
}

.article-metadata-content {
  text-decoration: none;
  font-size: 13px;
  color:rgb(255, 255, 255);
}

.article-content a:hover {
  color: #428bca;
  text-decoration: none;
}

.article-date {
  text-decoration: none;
  font-size: 13px;
  color:rgb(255, 255, 255, 0.55);
  align-items:right;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 100px;
  width: 100px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-text {
  color: rgb(255, 255, 255, 0.55);
  margin-top: 5px;
}

.form-group label {
  color: white;
  margin-top: 10px;
  font-size: 13px;
}