{% extends "blog/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}

{% if user.is_authenticated %}
    <div class="content-section">
        <h3>All Groups:</h3>
        <form method="POST">
            {% csrf_token %}
            {% for club in clubs %}
                <img class="rounded-circle account-img" src="{{ club.banner.url }}" />
                <input type="hidden" name="btn" value="{{ club.name }}" />
                <button type="submit">Join</button>

                <div class="article-content">
                    Description: {{ club.description }}<p></p>
                    Name: {{ club.name }}
                </div>
            {% endfor %}
        </form>
    </div>
{% else %}
    <div class="content-section">
        <h5>To view Pulse, please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> an account</h5>
    </div>
{% endif %}

{% endblock content %}
