{% extends "blog/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        {% if is_member %}
            <div class="content-section">
                <div class="article-metadata">
                    <h1> {{ club.name }} </h1>
                </div>
                <img class="rounded-circle account-img" src="{{ club.banner.url }}">
                <div class="media-body">
                    <div class="d-flex align-items-center article-metadata">
                        <a class="article-content"> Description: {{ club.description }} </a>
                        <a class="article-content" href = "{% url 'profile-with-pk' pk=club.owner.pk %}"> Owner: {{ club.owner }} </a>
                    </div>
                </div>

                {% if club.owner == user %}
                    <div>
                        <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update-club' club_id=club.pk %}">Update Info</a>
                    </div>
                {% endif %}
            </div>

            <article class="content-section d-flex align-items-center">
                <img class="rounded-circle article-img mr-3" src="{{ user.profile.image.url }}">
                <div class="media-body">
                    <a class="article-content" href="{% url 'post-create' club_id=club.pk%}"><p>Add to the discussion</p></a>
                </div>
            </article>

            {% for post in posts %}
                <article class="content-section d-flex align-items-center" data-url="{% url 'post-detail' post.id %}">
                    <a href="{% url 'club-home' pk=post.club.pk %}">
                        <img class="rounded-circle article-img mr-3" src="{{ post.author.profile.image.url }}">
                    </a>
                    <div class="media-body">
                        <div class="d-flex align-items-center article-metadata">
                            <a class="article-metadata-content" href="{% url 'profile-with-pk' pk=post.author.id %}">{{ post.author }}</a>
                            <small class="article-date">{{ post.date_posted|date:"F d, Y" }}</a>
                        </div>
                        <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                        <a class="article-content"><p>{{ post.content }}</p></a>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <div class="content-section">
                <h5>You are not a member of this club. To see the contents of this club, please request to <a href="{% url 'club-list' %}">join.</a></h5>
            </div>
        {% endif %}

        
    {% else %}
        <div class="content-section">
            <h5>To view the Book Club, please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> an account</h5>
        </div>
    {% endif %}
{% endblock content %}
