{% extends "blog/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% for post in posts %}
            <article class="content-section d-flex align-items-center" data-url="{% url 'post-detail' post.id %}">
                <a href="{% url 'club-home' pk=post.club.pk %}">
                    <img class="rounded-circle article-img mr-3" src="{{ post.club.banner.url }}" alt="{{ post.club.name }}">
                </a>
                <div class="media-body">
                    <div class="d-flex align-items-center article-metadata">
                        <a class="article-metadata-content" href="{% url 'club-home' pk=post.club.pk %}"><b>{{ post.club.name }}</b></a> •
                        <a class="article-metadata-content" href="{% url 'profile-with-pk' pk=post.author.id %}">{{ post.author }}</a>
                        <small class="article-date">{{ post.date_posted|date:"F d, Y" }}</a>
                    </div>
                    <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                    <a class="article-content">{{ post.content }}</a>
                </div>
            </article>
        {% endfor %}
        
    {% else %}
        <div class="content-section">
            <h5>To view Pulse, please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> an account</h5>
        </div>
    {% endif %}
{% endblock content %}
