{% extends "blog/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="article-metadata-content" href="{% url 'club-home' pk=post.club.pk %}">{{ post.club.name }}</a> •
            <a class="article-metadata-content" href="{% url 'profile-with-pk' pk=post.author.pk %}">{{ author }}</a>
            <small class="article-date">{{ post.date_posted|date:"F d, Y"}}</small><p></p>
            
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        {% if object.author == user %}
            <div>
                <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
        {% endif %}
        </div>
    </article>

    <div class="content-section">
        <h4>Add a comment</h4>
        <form class = "small" method="POST" action="{% url 'post-detail' object.pk %}">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <p></p>
                <button class="btn btn-outline-info" type="submit" name="post-comment">Post</button>
            </div>
        </form>
    </div>

    <div class="content-section">
        <h4>Comments</h4>
        {% for comment in post.comment_set.all %}
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'profile-with-pk' pk=comment.author.pk %}">{{ comment.author }}</a>
                    <small class="text-muted">{{ comment.date_posted|date:"F d, Y"}}</small>
                </div>
                <p class="article-content">{{ comment.content }}</p>
                {% if comment.author == user %}
                    <div>
                        <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' comment.pk %}">Delete</a>
                    </div>
                {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>

{% endblock content %}
