{% extends "blog/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="article-title">Login</legend>
                {{ form|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Sign In</button>
            </div>
        </form>
        <div>
            <small class="article-date mt-2 mb-2">
                Need an Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content %}