{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h5>{{ profile_user.username }} is a member of:</h5>
                    {% for clubname in profile_user.profile.club.all %}
                        <p class="text-secondary"><a href="{% url 'club-home' pk=clubname.pk %}">{{ clubname.name }}</a></p>
                        <img class="rounded-circle account-img" src="{{ club.banner.url }}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
{% endblock content %}