{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media d-flex align-items-center">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="d-flex flex-column ml-3 justify-content-center">
                <h5 class="account-heading" style="color: white;">{{ user.username }}</h5>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="article-title">Profile Info</legend>
                {{ u_form|crispy }} 
                {{ p_form|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info mt-3 mb-3" type="submit">Update</button>
            </div>
        </form>
    </div>

{% endblock content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="article-title">Join Today</legend>
            {{ form|crispy }} 
        </fieldset>

    </form>
    <small class="article-date">
        Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Login</a>
    </small>
</div>